fastapi
uvicorn
sqlalchemy       # 데이터베이스를 다루는 도구 (ORM)
psycopg2-binary  # PostgreSQL 연결 드라이버
google-generativeai # 구글 ai api
python-multipart
yfinance       # 👈 주식 데이터 수집
apscheduler    # 👈 주기적 작업 (Cron 같은 거)
requests       # 👈 텔레그램 전송용